# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
.rpt2_cache/
build/
dist/
tmp/
out-tsc/

# dependencies
node_modules/
**/cordova/app/
**/electron/www/

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
.nyc_output/
.sass-cache/
connect.lock/
coverage/
libpeerconnection.log/
npm-debug.log
testem.log
typings/
documentation/
docs/api/
old/
jest/


# e2e
e2e/*.js
e2e/*.map

# System Files
.DS_Store
Thumbs.db
docs.json
package-lock.json

# Konfigdateien

nuance-credentials*
!nuance-credentials.default*